@import "../../app/variables";

.list {
  flex: 1;
  flex-direction: column;

  #scrollbar();

  .title{
    padding: 8px 24px;
    text-transform: uppercase;
  }

  .item {
    list-style-type: none;
    display: flex;
    cursor: pointer;
    align-items: center;

    &:hover{
      background: @colorBgHover;
    }
  }
}
