@import "../../app/variables";

.list {
  flex: 1;
  position: relative;

  #scrollbar();

  .title{
    #title(@colorTextSecondary);
    padding: 8px 24px;
    text-transform: uppercase;
  }

  .item {
    list-style-type: none;
    min-height: 40px;
    display: flex;
    cursor: pointer;


    &:hover{
      background: @colorBgHover;
    }
  }
}
