@import "../../app/variables";

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: unset;
  flex: 1;

  #scrollbar();

  .title{
    #title(@colorTextSecondary);
    padding: 8px 24px;
    text-transform: uppercase;
  }

  .item {
    list-style-type: none;
    min-height: 40px;
    padding: 0 24px;
    display: flex;
    cursor: pointer;
    //&:hover {
    //  background: #f796;
    //}

    &:hover{
      background: @colorBgHover;
    }
  }
}
