@import "../../variables.less";

.groups{
    display: flex;
    flex-direction: column;

    .group{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 56px;

        img{
            max-height: 100%;
            max-width: 100%;
        }

        &:hover{
            background: @colorBgHover;
        }

        &.end{
            margin-top: auto;
        }

        &.selected{
            background: @colorBgHover;
        }
    }
}

