@import "../../app/variables.less";

.container{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog{
    padding: 32px;
    position: relative;


    .title{
        #title(@colorTextDark);
        padding: 8px 0 4px 0;
        position: relative;
        z-index: 1;
        border-bottom: 0.5px solid black;
    }

    .content{
        position: relative;
        z-index: 1;
    }

    &:after{
        content: "";
        position: absolute;
        background: @colorBg4;
        top: 0; left: 0; right: 0; bottom: 0;
        border-radius: 5px;
        opacity: 0.9;
        filter: blur(0.1px);
        box-shadow: 0px 3px 12px -1px rgba(135,135,135,1);
    }
}
