@import "../../app/variables.less";

.load{
    display: flex;
    flex-direction: column;

    .text{
        padding: 8px 0;
        color: @colorTextPrimary;
    }

    .buttons{
        padding: 8px 0;
    }

    .input{
        padding: 8px 0;
    }

    .actions{
        display: flex;
        justify-content: flex-end;
        padding: 8px 0;
        float: right;
    }
}
