@import "../../app/variables";

.player {
  flex: 1;
  display: flex;
  overflow: hidden;

  .sidebar{
    flex: 0 1 72px;
    //padding: 8px;
    display: flex;
  }

  .body {
    flex: 1;
    display: flex;


    .channels {
      flex: 0 1 300px;
      //min-height: 0;
      flex-direction: column;
      display: flex;
      position: relative;
      background: linear-gradient(45deg, @colorFg 20%, @colorBg 100%);

      .list{
        flex: 1;
        //background: @colorBg1;
      }

      .hide{
        position: absolute;
        background: @colorFg;
        height: 32px;
        right: -24px;
        bottom: 24px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .video {
      padding: 48px 80px;
      flex: 1;
      display: flex;
      grid-area: video;
      flex-direction: column;
      overflow: hidden;
      background: @colorBg;
    }
  }

  @media all and (max-width: 1024px) {

    .sidebar{
      flex: 0 1 42px;
    }

    .body {
      flex-direction: column-reverse;

      .channels{
        flex: 1;
        background: linear-gradient(0deg, @colorFg 10%, @colorBg 100%);

        .search{
          padding: 0;
        }

        .hide{
          display: none;
        }
      }

      .video{
        padding: 0;
      }
    }
  }

  @media all and (max-width: 768px) {
    .body {
      .channels{
        flex: 1.5;
      }
    }
  }

  .footer {
    grid-area: footer;
  }
}
