@import "../../app/variables";

.player {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;

  .sidebar{
    flex: 0 1 72px;
    padding: 8px;
    background: #474747;
    display: flex;
  }

  .channels {
    flex: 0 1 300px;
    //min-height: 0;
    flex-direction: column;
    display: flex;
    background: #565656;
    position: relative;

    .search{
      grid-area: search;
      display: flex;
      justify-content: center;
      flex: 0 1 auto;
      //height: 56px;
      padding: 8px;
      align-items: center;
    }

    .list{
      flex: 1;
      //background: @colorBg1;
    }

    .hide{
      position: absolute;
      background: #565656;
      right: -24px;
      top: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .footer {
    grid-area: footer;
  }

  .body {
    flex: 1;
    grid-area: body;
    overflow: hidden;
    display: grid;
    grid-template-rows: 56px auto;
    grid-template-areas: "header" "video";

    .header{
      grid-area: header;
      display: grid;
      grid-template-columns: auto 225px;
      grid-template-areas: "search user";



      .user{
        grid-area: user;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .video {
      padding: 48px 80px;
      flex: 1;
      display: flex;
      grid-area: video;
      flex-direction: column;
      overflow: hidden;
      background: @colorBg1;
    }
  }

  @media screen and (max-width: 1400px) {
    .body {
      grid-template-columns: 100%;
      grid-template-areas: "video""channels";
      grid-template-rows: 50% 50%;
      grid-row-gap: 30px;
    }

    .footer {
      grid-area: unset;
    }
  }

  @media (max-width: 500px) {

    .body {
      padding: 10px;
    }
  }
}
