@import "../../app/variables";
@import "../variables.less";

@maxWidth: 1152px;

.home{
  flex: 1;
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: column;

  & > * {
    overflow: hidden;
  }

  main{
    flex: 1;
    display: flex;
    //margin: auto;
    padding-top: @headerHeight;
    justify-content: center;

    .content{
      max-width: @maxWidth;
      display: flex;
      flex-direction: column;
      flex: 1;

      .intro{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        //background: radial-gradient(ellipse at center, #36383f 0%, #1a1d22 60%, #000 90%);

        &:after{
          position: absolute;
          content: "";
          //background-image: url("./src/assets/intro.gif");
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.3;
          background-size: cover;
          filter: blur(2px);
          top: 0; bottom: 0; right: 0; left: 0;
        }

        .content{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 20px;
          z-index: 1;

          h1{
            margin: unset;
            font-size: 80px;
            line-height: 1.05;
            font-weight: 700;
          }

          h4{
            margin: unset;
          }

          .links{
            padding: 16px 0;

            * > {
              padding: 8px;

            }
          }

        }
      }

      .info{
        background: #888888;
        height: 90vh;
      }

      .demo{
        grid-area: demo;
        background: #888888;
        height: 90vh;
        flex: 0 0 @maxWidth;
      }
    }


  }

  footer{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0 21px 0;
    z-index: 1;
    position: relative;

    //background: white;
    .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      max-width: @maxWidth;
      border-top: 1px solid grey;
      padding: 8px 0;


      .links{
        & > * {
          padding: 8px;
        }
      }


      //.logo{
      //
      //}
      //
      //.user{
      //
      //}
    }


  }
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: @colorBg1;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: @maxWidth;

    .logo{

    }

    .user{
      & > * {
        padding: 8px;
      }
    }
  }
}
