@import "../../variables.less";

.title{
  #title(@colorTextSecondary);
  padding: 8px 24px;
  text-transform: uppercase;
}

.channels{
  flex: 1;
  position: relative;

  .list{
    #scrollbar();
    .channel{
      flex: 1;
      align-items: center;
      justify-items: center;
      display: flex;
      cursor: pointer;
      & > * {
        padding: 0 24px;
      }

      &:hover{
        background: @colorBgHover;
      }

      &.selected{
        background-color: #292929;
      }
    }
  }
}
