@import "../../app/variables.less";

.busyPromise{
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  #spinner(@size: 12px, @thickness: 2px, @color: @colorSelected);
}

#spinner(@size: 32px, @thickness: 4px, @speed: 0.15s, @color: #aaa) {
  width: @size;
  height: @size;
  border: solid @thickness @color;
  border-right-color: transparent;
  border-radius: 100%;
  animation: ani-spinner 0.8s linear infinite, ani-delay-show @speed;
  flex: 0 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  @keyframes ani-spinner {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes ani-delay-show {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}


.progress{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 0 0;

  .container{
    flex: 1;
    .barContainer{
      height: 3px;
      flex: 1;
      position: relative;

      &:after{
        position: absolute;
        content: "";
        background-color: @colorBg;
        height: 100%;
        width: 100%;
        z-index: -1;
      }

      .bar{
        background: @colorSelected;
        height: 100%;
        position: absolute;
        transition: width 0.5s;

        &:before{
          position: absolute;
          content: "";
          height: 100%;
          border-radius: 10px;
          box-shadow: 0 0 10px 2px @colorSelected;
          animation: progressBar 2s ease-in infinite;
        }
      }
    }
  }

}

@keyframes progressBar {
  0% {
    left: 0;
    width: 10%
  }
  50% {
    opacity: 0;
    left: 90%;
    width: 10%;
  }
}
