@import "../../app/variables.less";

.menu{
    background: @colorFg;
    opacity: 0.99;
    box-shadow: 0px 3px 12px -1px black;
    width: max-content;
    //border: 1px solid @colorBg;

    .item{
        padding: 12px 16px;
    }
}
