@import "../../app/variables";

.breadcrumb {
    padding: 8px;
    color: @colorTextTertiary;
    display: flex;
    align-items: center;
    font-size: 0.9em;

    & > * + * {
        margin-left: 16px;

        &:before {
            content: "//";
            left: -14px;
            position: absolute;
            color: @colorTextTertiary;
        }
    }

    div {
        padding: 0 8px;
        cursor: pointer;

        position: relative;

        span{
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            display: inline-block;
            transition: 0.2s color;
        }

        &:last-child{
            color: @colorTextPrimary;
        }

        &:not(:last-child){

            &:hover{
                color: @colorSelected;
            }
        }
    }


}
