 html, body {
   margin: 0;
   height: 100%;
}

.app{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  background-color: #292929;
  grid-template-areas: "ad""body""footer";

  .ad{
    grid-area: ad;
  }

  .footer{
    grid-area: footer;
  }

  .body{
    display: grid;
    padding: 20px 50px;
    grid-area: body;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "video channels";
    grid-column-gap: 30px;

    .video{
      grid-area: video;
      display: flex;
      flex-direction: column;
    }

    .channels{
      min-height: 0;
      flex-direction: column;
      display: flex;
      grid-area: channels;
    }
  }

  @media(max-width: 1400px){

    .body{
      grid-template-columns: 100%;
      grid-template-areas: "video""channels";
      grid-template-rows: 50% 50%;
      grid-row-gap: 30px;
    }

    .footer{
      grid-area: unset;
    }
  }
}