
html, body{
  margin: 0;
  height: 100%;

  //react root
  :global(#root){
    height: 100%;
  }
}

//#modal-root{
//  display: none;
//  //height: 100%;
//}

.app{
  //background-color: rgba(0,0,0,0.92);
  height: 100%;
}
