@import "variables.less";

html, body{
    margin: 0;
    min-height: 100vh;
    background-color: @colorFg;
    color: @colorTextSecondary;
    font-family: "Roboto", sans-serif;

    //react root
    :global(#root){
        height: 100%;
    }
}

//#modal-root{
//  display: none;
//  //height: 100%;
//}

.app{
    display: flex;
    min-height: 100vh;
}


