@colorBg:#0E0E0E;
@colorFg:#202020;
@colorBg3:#313132;
@colorBg4:#F5F5F7;
@colorBgHover: rgba(255,255,255,0.10);

@colorTextPrimary: #fff;
@colorTextSecondary: #b3b3b3;

@colorSelected: #0056FB;

@headerHeight: 56px;

#scrollbar(){
    &::-webkit-scrollbar{
        width: 8px;
    }

    &::-webkit-scrollbar-thumb{
        background: hsla(0, 0%, 53.3%, 0.4);
        border-radius: 2px;

    }
}


//fixme change this for h1/2/3 etc
#title(@color){
    color: @color;
    height: 33px;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
